@import url('https://fonts.googleapis.com/css?family=Barrio&display=swap');

@media (min-width: 769px) {
html {
    background: url(images/Background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    z-index: 0;
}

body {
    height: 100%vh;
    margin: 0px;
}

.side {
    font-family: Barrio;
    font-size: 2.5em;
    z-index: 1;
    text-shadow: 2px 2px 2px white;
    text-align: center;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0vw 5vw 0vw 5vw;
    width: 88vw;
    height: 100%;
    margin-bottom: 0px;
}

#sidebar {
    width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border-right: 10px dashed #666666;
}

#mobileRobot {
    display: flex;
    justify-content: center;
    align-content: center;
}

#mobileHead {
    width: 275px;
}

.link {
    text-align: center;
    font-family: Barrio;
    font-size: 2em;
    width: 300px;
    padding: 5px;
    border: 4px solid black;
    background-color: white;
    margin: 10px auto 10px auto;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.link:hover {
    border: 4px solid #cc3333;
    background-color: #999999;
    text-shadow: 2px 2px white;
    padding: 10px;
    box-shadow: 5px 5px 2px #333333;
}

a {
    align-self: center;
    color: black;
}

#aboutComic {
    margin-right: 5vw;
}

#aboutComicMobile {
    display: none;
}

#construction {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: Barrio;
    font-size: 2em;
    text-shadow: 2px 2px 2px white;
}

#title {
    text-align: center;
    font-size: 3em;
}
}
@media (max-width: 768px) {
    html {
        background: url(images/Background-Mobile.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        z-index: 0;
    }

    #mainContainer {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-content: center;
        justify-content: center;
        padding: 0vw 1vw 0vw 1vw;
    }

    #sidebar {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
    }

    #mobileRobot {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #mobileHead {
        width: 275px;
    }

    .link {
        text-align: center;
        font-family: Barrio;
        font-size: 2em;
        width: 300px;
        padding: 5px;
        border: 4px solid black;
        background-color: white;
        margin: 10px auto 10px auto;
    }

    .link:hover {
        border: 4px solid #cc3333;
        background-color: #999999;
        text-shadow: 2px 2px white;
        padding: 10px;
        box-shadow: 5px 5px 2px #333333;
    }

    a {
        align-self: center;
        color: black;
    }

    .side {
        font-family: Barrio;
        font-size: 2.5em;
        z-index: 1;
        text-shadow: 2px 2px 2px white;
        text-align: center;
    }

    #aboutComic {
        display: none;
    }

    #aboutComicMobile {
        order: -1;
        display: flex;
        justify-content: center;
    }

    #name {
        display: none;
    }

    #comicMobile {
        width: 380px;
    }

    #title {
        font-family: Barrio;
        font-size: 2.5em;
        z-index: 1;
        text-shadow: 2px 2px 2px white;
        text-align: center;
    }

    #construction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}