@import url('https://fonts.googleapis.com/css?family=Barrio&display=swap');

@media (min-width: 480px) {
html {
    background: url(images/Background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    z-index: 0;
}

body {
    height: 100%vh;
    margin: 0px;
}

#header {
    font-size: 2.2em;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
    padding: 0vw 5vw 0vw 5vw;
    width: 90vw;
    height: 100%;
    margin-bottom: 0px;
}

#description {
    min-width: 330px;
    font-family: Barrio;
    font-size: 1.5em;
    z-index: 1;
    display: flex;
    text-shadow: 2px 2px 2px white;
    flex-direction: column;
    justify-content: space-between;
}

#robot {
    margin-left: -20px;
    align-self: flex-end;
    position: sticky; bottom: 0px;
}

#leftEye {
    position: absolute;
    bottom: 325px;
    right: 400px;
    z-index: 3;
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#rightEye {
    position: absolute;
    bottom: 290px;
    right: 150px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.link {
    padding: 5px;
    border: 4px solid black;
    background-color: white;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.link:hover {
    border: 4px solid #cc3333;
    background-color: #999999;
    text-shadow: 2px 2px white;
    padding: 10px;
    box-shadow: 5px 5px 2px #333333;
}

a {
    color: black;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-family: Barrio;
    font-size: 2em;
    min-width: 350px;
    z-index: 4;
}
}

@media (max-width: 480px) {

    html {
        background: url(images/Background.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        z-index: 0;
    }

    #header {
        font-size: 1.5em;
        text-align: center;
    }

    .descrip {
        display: none;
    }
    
    #mainContainer {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0vw 5vw 0vw 5vw;
        width: 90vw;
    }

    #description {
        text-align: center;
        font-family: Barrio;
        font-size: 1.5em;
        z-index: 1;
        text-shadow: 2px 2px 2px white;
    }

    #robot {
        margin: 5px auto 0px auto;
        order: 2;
    }

    #head {
        width: 50vw;
    }

    #leftEye {
        display: none;
    }

    #rightEye {
        display: none;
    }

    .link {
        padding: 5px;
        border: 4px solid black;
        background-color: white;
        margin-top: 3px;
    }

    #links {
        margin: 10px auto 10px auto;
        font-family: Barrio;
        font-size: 1em;
        text-align: center;
        z-index: 4;
    }

    a {
        color: black;
    }
}