@import url('https://fonts.googleapis.com/css?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

@media (min-width: 769px) {
html {
    background: url(../images/Background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    z-index: 0;
}

body {
    height: 100%vh;
    margin: 0px;
}

.side {
    font-family: Barrio;
    font-size: 2.5em;
    z-index: 1;
    text-shadow: 2px 2px 2px white;
    text-align: center;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0vw 2vw 0vw 2vw;
    width: 95vw;
    height: 100%;
    margin-bottom: 0px;
}

#sidebar {
    width: 33vw;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border-right: 10px dashed #666666;
}

#mobileRobot {
    display: flex;
    justify-content: center;
    align-content: center;
}

#mobileHead {
    height: 100%;
    width: 275px;
}

.link {
    text-align: center;
    font-family: Barrio;
    font-size: 2em;
    width: 300px;
    padding: 5px;
    border: 4px solid black;
    background-color: white;
    margin: 10px auto 10px auto;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.link:hover {
    border: 4px solid #cc3333;
    background-color: #999999;
    text-shadow: 2px 2px white;
    padding: 10px;
    box-shadow: 5px 5px 2px #333333;
}

.smallLink {
    text-align: center;
    font-family: Barrio;
    font-size: 1.2em;
    width: 250px;
    padding: 3px;
    border: 2px solid black;
    background-color: white;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.smallLink:hover {
    border: 4px solid #cc3333;
    background-color: #999999;
    text-shadow: 2px 2px white;
    padding: 5px;
    box-shadow: 5px 5px 2px #333333;
}

a {
    align-self: center;
    color: black;
}

#aboutComic {
    width: 95%;
    height: auto;
    max-width: 800px;
    min-width: 600px;
    margin-top: 5vw;
    margin-left: 4vw;
    margin-right: 8vw;
    display: flex;
    justify-content: center;
}

#comic {
    width: 75vw;
    max-width: 100%;
    height: 100%;
}

#contact {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 300px;
    margin: 10px auto 10px auto;
}

#content {
    margin-left: 4vw;
    width: 67vw;
    height: auto;
    min-width: 500px;
    display: flex;
    justify-content: center;
}

#artContent {
    margin-left: 4vw;
    width: 67vw;
    min-width: 500px;
    display: flex;
    justify-content: center;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumb:hover {
    width: calc(14vw - 4px);
    border: 2px dashed #993333;
    box-shadow: 5px 5px 3px black
}

.thumb {
    margin: 5px;
    width: 14vw;
    height: 100%;
    min-width: 175px;
    box-shadow: 2px 2px 1px black;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#webStuff {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.webContent {
    align-content: center;
    border: 3px dashed #333333;
    background-color: #ffe390;
    font-family: 'Indie Flower';
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contentText {
    margin: 5px;
}

.feature {
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listTitle {
    font-family: Barrio;
    font-size: 1.2em;
}

.screenShot {
    margin-left: 1vw;
    width: 25vw;
    height: 100%;
    min-width: 250px;
    align-self: center;
}

#aboutComicMobile {
    display: none;
}

#construction {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: Barrio;
    font-size: 2em;
    text-shadow: 2px 2px 2px white;
}

#title {
    text-align: center;
    font-size: 3em;
}

#imagePopUp {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    position: fixed;
    width: 0vw;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0.75);
    margin: 20px 3vw 20px 3vw;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#imageClose {
    display: none;
    margin-right: 1.5%;
    margin-top: 1.5%;
    width: 5%;
    height: 80%;
    font-family: Barrio;
    font-size: 1.2em;
    border: 2px solid #993333;
    background-color: #999999;
}

.code {
    text-align: center;
}

#code {
    max-width: 95%;
    align-self: center;
    justify-self: center;
    margin: 5px auto 5px auto;
}

#imPopHeader {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    min-height: 35px;
    height: 5%;
}

#imHeader {
    font-family: Barrio;
    color: white;
    text-shadow: 2px 2px 2px #999999;
    font-size: 1.2em;
    margin-left: 2%;
}

#currentImage {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

#clickedImage {
    max-width: 80vw;
    max-height: 80vh;
    margin-top: 3vh;
}

}
@media (max-width: 768px) {
    html {
        background: url(../images/Background-Mobile.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        z-index: 0;
    }

    #mainContainer {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        padding: 0vw 1vw 0vw 1vw;
        width: 90vw;
    }

    #sidebar {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-self: center;
        justify-content: space-between;
    }

    #mobileRobot {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #mobileHead {
        width: 70vw;
        min-width: 200px;
        height: 100%;
    }

    .link {
        text-align: center;
        font-family: Barrio;
        font-size: 2em;
        width: 300px;
        padding: 5px;
        border: 4px solid black;
        background-color: white;
        margin: 10px auto 10px auto;
    }

    .link:hover {
        border: 4px solid #cc3333;
        background-color: #999999;
        text-shadow: 2px 2px white;
        padding: 10px;
        box-shadow: 5px 5px 2px #333333;
    }

    .smallLink {
        text-align: center;
        font-family: Barrio;
        font-size: 1.2em;
        width: 75%;
        padding: 3px;
        border: 2px solid black;
        background-color: white;
        margin-bottom: 5px;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    
    .smallLink:hover {
        border: 4px solid #cc3333;
        background-color: #999999;
        text-shadow: 2px 2px white;
        padding: 5px;
        box-shadow: 5px 5px 2px #333333;
    }

    a {
        align-self: center;
        color: black;
    }

    .side {
        font-family: Barrio;
        font-size: 2.5em;
        z-index: 1;
        text-shadow: 2px 2px 2px white;
        text-align: center;
    }

    #aboutComic {
        display: none;
    }

    #aboutComicMobile {
        display: flex;
        justify-content: center;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 300px;
        padding-top: 5px;
        margin: 10px auto 10px auto;
    }

    #name {
        display: none;
    }

    #comicMobile {
        width: 90vw;
        height: 100%;
    }

    #content {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    #artContent {
        width: 90vw;
        align-self: center;
        display: flex;
        justify-content: center;
    }

    .thumbnails {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .thumb {
        margin: 3px;
        width: 25vw;
        height: 100%;
        min-width: 110px;
        box-shadow: 2px 2px 1px black;
    }
    
    #webStuff {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
    }
    
    .webContent {
        align-content: center;
        border: 3px dashed #333333;
        background-color: #ffe390;
        font-family: 'Indie Flower';
        font-size: 1.2em;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .code {
        text-align: center;
    }
    
    #code {
        max-width: 95%;
        align-self: center;
        justify-self: center;
        margin: 5px auto 5px auto;
    }
    
    .contentText {
        margin: 5px;
    }
    
    .feature {
        padding: 1.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }
    
    .listTitle {
        font-family: Barrio;
        font-size: 1.2em;
    }
    
    .screenShot {
        margin-top: 10px;
        width: 100%;
        height: auto;
    }

    #title {
        font-family: Barrio;
        font-size: 2.5em;
        z-index: 1;
        text-shadow: 2px 2px 2px white;
        text-align: center;
    }

    #construction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    br {
        display: none;
    }

    #play {
        display: none;
    }

    #imagePopUp {
        top: 0px;
        left: 5px;
        right: 5px;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        border-radius: 10px;
        position: fixed;
        width: 0vw;
        height: 0vh;
        background-color: rgba(0, 0, 0, 0.75);
        margin: 20px auto 20px auto;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    
    #imageClose {
        display: none;
        margin-right: 1.5%;
        margin-top: 1.5%;
        width: 10%;
        height: 80%;
        font-family: Barrio;
        font-size: 1em;
        text-align: center;
        border: 2px solid #993333;
        background-color: #999999;
    }
    
    #imPopHeader {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        height: 5%;
        min-height:35px;
    }
    
    #imHeader {
        font-family: Barrio;
        color: white;
        text-shadow: 2px 2px 2px #999999;
        font-size: 1.2em;
        margin-left: 2%;
    }
    
    #currentImage {
        align-self: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #clickedImage {
        max-width: 80vw;
        max-height: 75vh;
        margin-top: 2vh;
        margin-bottom: .5vh;
    }
}