@import url('https://fonts.googleapis.com/css?family=Barrio&display=swap');

@media (min-width: 769px) {
html {
    background: url(../images/Background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    display: flex;
    align-content: center;
    z-index: 0;
}

body {
    height: 100%vh;
    margin: 0px;
}


#mainContainer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 90vw;
    height: 100%;
    margin-bottom: 0px;
}

#name {
    min-width: 330px;
    font-family: Barrio;
    font-size: 1.8em;
    z-index: 1;
    text-shadow: 2px 2px 2px white;
    margin: 15px auto 25px auto;
}

#header {
    margin: 0px;
    text-align: right;
}

#robot {
    align-self: baseline;
    position: sticky; 
    margin-top: auto;
    margin-bottom: 0px;
    bottom: 0px;
}

#leftEye {
    position: absolute;
    bottom: 325px;
    right: 400px;
    z-index: 3;
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#rightEye {
    position: absolute;
    bottom: 290px;
    right: 150px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.link {
    padding: 5px;
    border: 4px solid black;
    background-color: white;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.link:hover {
    border: 4px solid #cc3333;
    background-color: #999999;
    text-shadow: 2px 2px white;
    padding: 10px;
    box-shadow: 5px 5px 2px #333333;
}

a {
    color: black;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-family: Barrio;
    font-size: 2em;
    min-width: 350px;
    z-index: 4;
}
#mobileRobot {
    display: none;
}

}

@media (max-width: 768px) {

    html {
        background: url(../images/Background-Mobile.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        z-index: 0;
    }

    #header {
        font-size: 2.3em;
        text-align: center;
        text-shadow: 2px 2px 2px white;
    }
    
    #mainContainer {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0vw 1vw 0vw 1vw;
        width: 90vw;
    }

    #description {
        text-align: center;
        font-family: Barrio;
        font-size: 2em;
        z-index: 1;
        text-shadow: 2px 2px 2px white;
    }

    #mobileRobot {
        margin: 10px auto 0px auto;
    }

    #robot {
        display: none;
    }

    #mobileHead {
        width: 275px;
    }

    #leftEye {
        display: none;
    }

    #rightEye {
        display: none;
    }

    .link {
        padding: 5px;
        border: 4px solid black;
        background-color: white;
        margin-top: 3vh;
    }

    .link:hover {
        border: 4px solid #cc3333;
        background-color: #999999;
        text-shadow: 2px 2px white;
        padding: 10px;
        box-shadow: 5px 5px 2px #333333;
    }

    #links {
        margin: 10px auto 10px auto;
        font-family: Barrio;
        font-size: 1.5em;
        text-align: center;
        z-index: 4;
    }

    a {
        color: black;
    }
}